# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
bin/
dub.selections.json
*.settings

# Code coverage
*.lst

# Log files
*.log

# Runtime database file
checklist.db
